<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="aggressiveLazyLoading" value="false"/>
		<setting name="callSettersOnNulls" value="true"/>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
    
	<typeAliases>
		<package name="com.farota.api.timer" />
	</typeAliases>
	
	<typeHandlers>
	</typeHandlers>
</configuration>